body {
    display: flex;
    align-items: stretch;
    height: 97vh;
}

.scores {
    flex: 1;
    margin: 1rem;
    padding: 1rem;

}

.game {
    display: flex;
    flex: 1;
    margin: 1rem;

    justify-content: center;
    align-items: center;
}

#pre_piece{
    background-color: aqua;
    top:0
}

.best-scores {
    flex: 1;
    margin: 1rem;
    padding: 1rem;

}

button{
    padding: 0.5rem;
    margin:1rem;
}